.mySideBar {
    width: 180px;
    height: 390px;
    position: relative;
    float: left;
    border-radius: 10px;
    margin: 20px auto;
    background-color: #FFFFFF;
}

.sidebar-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.sidebar-menu {
    list-style: none;
    padding: 23px;
    text-align:justify;
}

.myp_sideM {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: bold;
}

.myp_sideD {
    padding: 4px;
    margin-left: 8px;
    font-size: 12px;
    font-weight: 500;
}

.sidebar-menu li a {
    text-decoration: none;
    color: #101010;
    display: block;
}

.sidebar-menu li a:hover {
    color: #004591;
}

